<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Krysztofiak</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
</head>

<body>
  <div class="container">

    <h1>Accomplishments</h1>
    <h4><a href="../index.html">back</a></h4>

    <h4 class="title">Certifications</h4>
    <p class="accompTitle">Amazon Web Services</p>
    <p class="accompName">AWS Certified Cloud Practitioner: October 2023</p>

    <h4 class="title">Degrees</h4>
    <p class="accompTitle">Lasalle University</p>
    <p class="accompName">Bachelors of computer science: May 2023</p>
    <p class="accompName">Minor in information technology: May 2023</p>

    <h4 class="title">Awards</h4>
    <p class="accompTitle">Lasalle University</p>
    <p class="accompName">Dean's List Academic Achievement Award: 2019, 2020, 2022, 2023</p>

    <h4 class="bottomh4"><a href="../index.html">back</a></h4>
  </div>
</body>

</html>