<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alex Krysztofiak</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <!-- <div class="container" id="divDisplay"></div> -->
    <div class="project container">

      <h1>Essays</h1>
      <h4><a href="../index.html">back</a></h4>
      

      <h4 class="title">On accessibility, sustainability, diversity, and inclusion</h4>
      <p class="textbody"><a href="../template/essays.html">Essay about accessibility</a></p>
      <p class="textbody"><a href="../template/essays.html">Essay about sustainability</a></p>
      <p class="textbody"><a href="../template/essays.html">Essay about diversity and inclusion</a></p>
      
      
      <h4 class="title">On agile</h4>
      <p class="textbody"><a href="../template/essays.html">Essay about agile 1</a></p>
      <p class="textbody"><a href="../template/essays.html">Essay about agile 2</a></p>

      <h4 class="title">On Videogames</h4>
      <p class="textbody"><a href="../template/essays.html">Essay about agile 1</a></p>
      <p class="textbody"><a href="../template/essays.html">Essay about agile 2</a></p>
      
    </div>
  </body>
  <!-- <script type="text/babel" src="../static/JS/essays.js"></script> -->
  
</html>