<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Krysztofiak</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
</head>

<body>
  <!-- <div class="container" id="divDisplay"></div> -->
  <div class="container">

    <h1>Essays</h1>
    <h4><a href="../index.html">back</a></h4>

    <!-- Heading number 1 -->
    <div className="project">
      <h4 class="title">On accessibility, sustainability, diversity, and inclusion</h4>
      <!-- Essay 1 -->
      <button class="accordion">
        <p class="textbody">Essay about accessibility</p>
      </button>
      <div class="panel">
        <p class="essaybody">
          Accessibility in software looks different than it would relative to accessibility in the outside world but
          still considers similar disabilities that people may have. Disabilities come in many forms, and roughly 15% of
          the world’s population, almost 1 billion people, experience some form of accessibility needs. Accessibility in
          tech is relatively new but there are many ways to make things that are not only accessible to those who need
          it, but beneficial to all users.
        </p>
        <p class="essaybody"></p>
        <p class="essaybody"></p>
      </div>

      <!-- Essay 2 -->
      <button class="accordion">
        <p class="textbody">Essay about sustainability</p>
      </button>
      <div class="panel">
        <p class="essaybody">
          THIS IS THE ESSAY BOSY ABGOUT SUSTAINABLILITY Accessibility in software looks different than it would relative
          to accessibility in the outside world but still considers similar disabilities that people may have.
          Disabilities come in many forms, and roughly 15% of the world’s population, almost 1 billion people,
          experience some form of accessibility needs. Accessibility in tech is relatively new but there are many ways
          to make things that are not only accessible to those who need it, but beneficial to all users.
        </p>
        <p class="essaybody"></p>
        <p class="essaybody"></p>
      </div>

      <!-- Essay 3 -->
      <button class="accordion">
        <p class="textbody">Essay about diversity and inclusion</p>
      </button>
      <div class="panel">
        <p class="essaybody">
          THIS IS THE ESSAY BOSY ABGOUT d and i in software looks different than it would relative to accessibility in
          the outside world but still considers similar disabilities that people may have. Disabilities come in many
          forms, and roughly 15% of the world’s population, almost 1 billion people, experience some form of
          accessibility needs. Accessibility in tech is relatively new but there are many ways to make things that are
          not only accessible to those who need it, but beneficial to all users.
        </p>
        <p class="essaybody"></p>
        <p class="essaybody"></p>
      </div>
    </div>

    <!-- Heading Number 2 -->
    <div className="project">
      <h4 class="title">On Coding Practices</h4>
      <!-- Essay 1 -->
      <button class="accordion">
        <p class="textbody">On Agile</p>
      </button>
      <div class="panel">
        <p class="essaybody"></p>
        <p class="essaybody"></p>
        <p class="essaybody"></p>
      </div>
      <!-- Essay 2 -->
      <button class="accordion">
        <p class="textbody">On Clean Code</p>
      </button>
      <div class="panel">
        <p class="essaybody"></p>
        <p class="essaybody"></p>
        <p class="essaybody"></p>
      </div>
      <!-- Essay 3 -->
      <button class="accordion">
        <p class="textbody">On the Cult of Done</p>
      </button>
      <div class="panel">
        <p class="essaybody"></p>
        <p class="essaybody"></p>
        <p class="essaybody"></p>
      </div>
    </div>

  </div>

  <!-- <div className="project">
    <h4 class="title"></h4>
    <button class="accordion"><p class="textbody"></p></button>
    <div class="panel">
      <p class="essaybody"></p>
      <p class="essaybody"></p>
      <p class="essaybody"></p>  
    </div>
  </div> -->
</body>
<script type="text/javascript" src="../static/JS/essays.js"></script>

</html>