<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Krysztofiak</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
</head>

<body>
  <div class="container">

    <h1>Essays</h1>
    <h4><a href="../index.html">back</a></h4>

    <!-- Forward Heading -->
    <div className="project">
      <h4 class="title">Forward</h4>
      <p class="textbody">-This is a collection of some of my favorite projects that I have worked on. These tend to be group projects because collaboration is something I enjoy. I have more projects on GitHub, but these are my favorites.</p>
      
    </div>

    <!-- Project Number 1 -->
    <div className="project">
      <h4 class="title">Dota Plus Plus</h4>
      <a href="https://github.com/Alex-Krysztofiak/Capstone" target="_blank" class="textbody">GitHub</a>

      <p class="textbody">- An AWS hosted web app utilizing an API to collect, analyze, and display data with user accounts.</p>
      <p class="textbody">- Led a full stack web development agile project as scrum master.</p>
      <p class="textbody">- Built with HTML, CSS, JavaScript, React, Python, Flask, SQLite, Github, and AWS</p>

      <!-- Essay 1 -->
      <button class="accordion">
        <p class="textbody">Read More Here</p>
      </button>
      <div class="panel">
        <p class="essaybody">THIS IS THE ESSAY BOSY ABGOUT d and i in software looks different than it would relative to accessibility in
          the outside world but still considers similar disabilities that people may have. Disabilities come in many
          forms, and roughly 15% of the world’s population, almost 1 billion people, experience some form of
          accessibility needs. Accessibility in tech is relatively new but there are many ways to make things that are
          not only accessible to those who need it, but beneficial to all users.</p>
        <p class="essaybody">THIS IS THE ESSAY BOSY ABGOUT d and i in software looks different than it would relative to accessibility in
          the outside world but still considers similar disabilities that people may have. Disabilities come in many
          forms, and roughly 15% of the world’s population, almost 1 billion people, experience some form of
          accessibility needs. Accessibility in tech is relatively new but there are many ways to make things that are
          not only accessible to those who need it, but beneficial to all users.</p>
        <p class="essaybody">THIS IS THE ESSAY BOSY ABGOUT d and i in software looks different than it would relative to accessibility in
          the outside world but still considers similar disabilities that people may have. Disabilities come in many
          forms, and roughly 15% of the world’s population, almost 1 billion people, experience some form of
          accessibility needs. Accessibility in tech is relatively new but there are many ways to make things that are
          not only accessible to those who need it, but beneficial to all users.</p>
      </div>
    </div>

    <!-- Project Number 2 -->
    <div className="project">
      <h4 class="title">Schelling's Algorithm</h4>

      <a href="https://github.com/Alex-Krysztofiak/Schelling-Alg" target="_blank" class="textbody">GitHub</a>
      <p class="textbody">- Built a visualization of the Schelling's segregation model.</p>
      <p class="textbody">- Led development as scrum master with agile project management.</p>
      <p class="textbody">- Built with Python, and the Mesa Library</p>

      <!-- Essay 1 -->
      <button class="accordion">
        <p class="textbody">Read More Here</p>
      </button>
      <div class="panel">
        <p class="essaybody">THIS IS THE ESSAY BOSY ABGOUT d and i in software looks different than it would relative to accessibility in
          the outside world but still considers similar disabilities that people may have. Disabilities come in many
          forms, and roughly 15% of the world’s population, almost 1 billion people, experience some form of
          accessibility needs. Accessibility in tech is relatively new but there are many ways to make things that are
          not only accessible to those who need it, but beneficial to all users.</p>
        <p class="essaybody">THIS IS THE ESSAY BOSY ABGOUT d and i in software looks different than it would relative to accessibility in
          the outside world but still considers similar disabilities that people may have. Disabilities come in many
          forms, and roughly 15% of the world’s population, almost 1 billion people, experience some form of
          accessibility needs. Accessibility in tech is relatively new but there are many ways to make things that are
          not only accessible to those who need it, but beneficial to all users.</p>
        <p class="essaybody">THIS IS THE ESSAY BOSY ABGOUT d and i in software looks different than it would relative to accessibility in
          the outside world but still considers similar disabilities that people may have. Disabilities come in many
          forms, and roughly 15% of the world’s population, almost 1 billion people, experience some form of
          accessibility needs. Accessibility in tech is relatively new but there are many ways to make things that are
          not only accessible to those who need it, but beneficial to all users.</p>
      </div>
    </div>

  </div>
</body>
<script type="text/javascript" src="../static/JS/essays.js"></script>

</html>
